
@use "../../../../../styles/colors" as colors;
@use "../../../../../styles/fonts" as fonts;
@use "../../../../../styles/layout" as layout;
@use "../../../../../styles/material" as material;

@use "sass:color" as color;

:host
{
  @include layout.place(relative, block, auto, auto);
}

div.app
{
  &.azure.panel
  {
    @include layout.place(relative, block, auto, auto);
    & > div.container
    {
      @include layout.place(relative, flex, auto, auto);
      flex-flow: row nowrap;
      justify-content: left;
      align-items: center;
      & > div.content.triptych
      {
        @include layout.place(relative, grid, auto, auto);
        grid-template-rows: auto;
        grid-template-columns: 32px 32px auto;
        // noinspection DuplicatedCode
        & > div.panel
        {
          @include layout.place(relative, block, auto, auto);
          padding: 2px;
          grid-row: 1;

          @include fonts.open-sans-regular();
          font-size: 12px;
          line-height: normal;
          -webkit-font-smoothing: antialiased;
          text-align: left;
          text-wrap: nowrap;

          bold
          {
            @include fonts.open-sans-regular();
            font-weight: normal;
          }

          &.left
          {
            grid-column: 1;
          }
          &.center
          {
            grid-column: 2;
          }
          &.right
          {
            grid-column: 3;
          }
        }
        & > div.left.panel,
        & > div.center.panel
        {
          padding-top: 0;
          & > div.azure.logo.image,
          & > div.docker.logo.image
          {
            @include layout.place(relative, flex, auto, auto);
            flex-flow: row nowrap;
            & > img
            {
              width: inherit;
              height: inherit;
            }
          }
        }
        & > div.right.panel
        {
          & > div.hosted.using.text
          {
            @include layout.place(relative, flex, auto, auto);
          }
        }
      }
    }
  }
}

