
<div class="app azure panel" *ngIf="composed">
  <div class="container" [ngStyle]="panelCssStyle">
    <div class="content triptych left aligned">
      <div class="left panel">
        <div class="azure logo image" [ngStyle]="imageCssStyle">
          <img
            [ngSrc]="azureImageSrc"
            [width]="azureIntrinsicImageWidth"
            [height]="azureIntrinsicImageHeight"
            [priority]="true"
            [alt]="azureImageText"/>
        </div>
      </div>
      <div class="center panel">
        <div class="docker logo image" [ngStyle]="imageCssStyle">
          <img
            [ngSrc]="dockerImageSrc"
            [width]="dockerIntrinsicImageWidth"
            [height]="dockerIntrinsicImageHeight"
            [priority]="true"
            [alt]="dockerImageText"/>
        </div>
      </div>
      <div class="right panel">
        <div class="hosted using text">
          <span [innerHTML]="hostedUsingText"></span>
        </div>
      </div>
    </div>
  </div>
</div>
