
span.symbol
{
  display: inline-block;
  padding: 0 2px;
  font-family: 'Material Symbols Outlined', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  color: #7D7D7D;
  translate: 0 4px;
}
