
$theme-white: #FFFFFF;
$theme-mist: #FAFAFA;
$theme-smoke: #F4F4F4;
$theme-silver: #DADADA;
$theme-steel: #BDBDBD;
$theme-lead: #969696;
$theme-slate: #727272;
$theme-anthracite: #646464;
$theme-graphite: #484848;
$theme-charcoal: #242424;
$theme-black: #121212;

$theme-red: #D3461E;    // Pantone 173
$theme-green: #00953B;  // Pantone 355
$theme-orange: #e17d00; // Pantone 138
$theme-blue: #0033A1;   // Pantone 286

$theme-gold: #CD9922;

$theme-darken: 2.5%;
$theme-lighten: 2.5%;

