
@use "../../../../../styles/colors" as colors;
@use "../../../../../styles/fonts" as fonts;
@use "../../../../../styles/layout" as layout;
@use "../../../../../styles/material" as material;

@use "sass:color" as color;

:host
{
  @include layout.place(relative, block, auto, auto);
}

div.app
{
  &.angular.panel
  {
    @include layout.place(relative, block, auto, auto);
    & > div.container
    {
      @include layout.place(relative, flex, auto, auto);
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      & > div.content
      {
        @include layout.place(relative, grid, auto, auto);
        padding-top: 8px;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, min-content);
        & > div.panel
        {
          @include layout.place(relative, block, auto, auto);
          padding: 2px;
          grid-row: 1;

          @include fonts.open-sans-regular();
          font-size: 12px;
          line-height: normal;
          -webkit-font-smoothing: antialiased;
          text-align: left;
          text-wrap: nowrap;

          &.outer.left
          {
            grid-column: 1;
            padding-top: 4px;
          }
          &.inner.left
          {
            padding-left: 4px;
            grid-column: 2;
          }
          &.inner.right
          {
            grid-column: 3;
            padding-top: 4px;
            @include fonts.open-sans-semi-bold();
          }
          &.outer.right
          {
            padding-top: 4px;
            grid-column: 4;
          }
        }
        & > div.inner.left.panel
        {
          & > div.angular.shield.image
          {
            @include layout.place(relative, grid, auto, auto);
            & > img
            {
              width: inherit;
              height: inherit;
            }
          }
        }
      }
    }
  }
}

